/* Establece el estilo para el cuerpo del documento */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
}

/* Establece el estilo para el contenedor del juego */
#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative; /* Agrega esta línea */
}

/* Establece el estilo para el lienzo (canvas) dentro del contenedor */
canvas {
    display: block;
    margin: 0 auto;
}
