body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  
  #game-container {
    position: relative;
    width: 100%; /* Ajusta el ancho al 100% del ancho de la ventana */
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; /* Centra el contenido verticalmente */
  }
  
  canvas {
    display: block;
    max-width: 100%; /* Ajusta el ancho máximo del lienzo al 100% */
    height: auto; /* Permite que la altura se ajuste automáticamente */
  }
  